
  <% toilets.forEach(toilet => { %>
    <a href="/toilets/<%= toilet.id %>"><h1><%= toilet.name %></h1></a>
    <h2><%= toilet.address %></h2>
    <h2><%= toilet.location.area %></h2>
    



    <div>
    <img src="<%= toilet.image %>">
    </div>



  <% }) %>
