<div class="container">
  <div class="columns">
    <div class="column">
      <figure class="image">
        <img src="<%= toilet.image %>">
      </figure>
    </div>
    <div class="column">
      <h3 class="title"><%= toilet.name %></h3>
      <h4 class="subtitle"><%= toilet.location.area %></h4>
      <p><%= toilet.address %></p>
      <div class="icon is-small">
        <i class="fa fa-pencil"></i>
      </div>

      <% if(locals.isAuthenticated) { %>
      <form method="POST" action="/toilets/<%= toilet.id %>/comments">
        <div class="row">
        <div class="col-6">
          <label>Comment</label>
          <textarea name="text"></textarea>
        </div>
      <div class="col-6">
        <div>
            <label>Post Rating: </label>
            <label>
              1<input type="radio" value="1" name="rating">
            </label>
            <label>
              2<input type="radio" value="2" name="rating">
            </label>
            <label>
              3<input type="radio" value="3" name="rating">
            </label>
            <label>
              4<input type="radio" value="4" name="rating">
            </label>
            <label>
              5<input type="radio" value="5" name="rating">
            </label>
        </div>
        <button class="addButton">Add</button>
      </div>
      </div>
      </form>
      <% } %>
      <ul>
      <% toilet.comments.forEach(comment => { %>
        <div class="row">
        <li><%= comment.text %> - <%= comment.rating %>/5
        <% if(comment.user) {%>
        <p>Added by: <strong><%= comment.user.username %></strong></p>
        <% } %>
        <% if(locals.isAuthenticated && comment.user === locals.currentUser.username) { %>
        <form method="POST" action="/toilets/<%= toilet.id %>/comments/<%= comment.id %>">
            <input type="hidden" name="_method" value="DELETE" required>
              <button>Delete</button>
        </form>
        <% } %>
        </li>
        </div>
      <% }) %>
    </ul>



      <form method="POST" action="/toilets/<%= toilet.id %>">
        <input type="hidden" name="_method" value="DELETE">
        <a class="button is-primary" href="/toilets/<%= toilet.id %>/edit">Edit</a>
        <button class="button is-danger">Delete</button>
      </form>
    </div>

  </div>




</div>
